<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%- docTitle %></title>
    <meta name="viewport" content="width=device-width"> 
    <link rel="stylesheet" href="<%- userstyles %>">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/monokai_sublime.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>

    .raddoc-Wrapper {
       max-width: 1280px;
       margin: 0 auto;
       padding: 0 1em;   
    }

    .raddoc-Header {
        padding: 1em 0;
    }

    .raddoc-Header h1 {
        margin: 0;
    }
    .radDoc-Section {
        padding: 1em;
        border: 1px solid #DFDFDF;
        margin-bottom: 1em;
    }

    .radDoc-Section h1:first-of-type,
    #modifiers,
    #example {
        border-bottom: 1px solid #DFDFDF;
        padding-bottom: 10px;
    }

    .radDoc-Section pre {
        margin: 1em 0 0 0;
        overflow: auto; 
        white-space: pre-wrap;
    }

    .radDoc-Section code {
        padding: 1em;
    }

    </style>

</head>

<body>

    <div class="raddoc-Wrapper"> 

        <header class="raddoc-Header" role="banner">
            <h1><%- docTitle %></h1>
        </header>
        
        <main class="raddoc-Main" role="main">
            <%- component %>
        </main>

    </div>

</body>
</html>